In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data_processing import DataProcessor

In [5]:
df = pd.read_csv("penguins_size.csv")

In [8]:

df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [11]:
X = pd.get_dummies(df.drop('species',axis=1),drop_first=True)
y = df['species']

In [13]:
X.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,39.1,18.7,181.0,3750.0,False,True,False,True
1,39.5,17.4,186.0,3800.0,False,True,True,False
2,40.3,18.0,195.0,3250.0,False,True,True,False
3,NaN,NaN,NaN,NaN,False,True,False,False
4,36.7,19.3,193.0,3450.0,False,True,True,False

In [14]:
y

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [17]:
df["species"].unique()

array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)