In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from data_processing import DataProcessor

In [62]:
df = pd.read_csv("penguins_size.csv")

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   344 non-null    float64
 3   culmen_depth_mm    344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [64]:
instance = DataProcessor(data= df, file_path= None, ml_type= None, target_column= None)
instance.check_missing_values( )

Data is not ready for machine learning:
1. Fill Missing Values
2. Choose Another CSV

Filling missing data using SimpleImputer...

Column: culmen_length_mm
Data type: Numeric

Column: culmen_depth_mm
Data type: Numeric

Column: flipper_length_mm
Data type: Numeric

Column: body_mass_g
Data type: Numeric

Column: sex
Data type: Categorical

Missing data filled successfully.

True

In [36]:
instance = DataProcessor(data= df, file_path= None, ml_type= None, target_column= None)
instance.check_value_types( )

Data has categorical or string data and is not ready for machine learning:
Columns with categorical data: ['species', 'island', 'sex']
1: Create Dummy Variables
2: Choose Another CSV
Creating dummies using OneHotEncoder...
Dummy variables created successfully.

True

In [66]:
def check_non_numerical(df):
    non_numerical_columns = df.select_dtypes(exclude=['number']).columns

    if len(non_numerical_columns) > 0:
        print("Non-numerical columns found in the DataFrame:")
        print(non_numerical_columns)
    else:
        print("No non-numerical columns found in the DataFrame.")

# Example usage:
# Assuming df is your DataFrame
check_non_numerical(df)

Non-numerical columns found in the DataFrame:
Index(['species', 'island', 'sex'], dtype='object')

In [69]:


# Assuming df is your DataFrame
df = pd.read_csv("penguins_size.csv")

# Non-numerical columns found
non_numerical_columns = ['species', 'island', 'sex']

# Create dummies for the non-numerical columns
df= pd.get_dummies(df, columns=non_numerical_columns, prefix=non_numerical_columns)

In [71]:
df.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,sex_.,sex_FEMALE,sex_MALE
0,39.1,18.7,181.0,3750.0,True,False,False,False,False,True,False,False,True
1,39.5,17.4,186.0,3800.0,True,False,False,False,False,True,False,True,False
2,40.3,18.0,195.0,3250.0,True,False,False,False,False,True,False,True,False
3,NaN,NaN,NaN,NaN,True,False,False,False,False,True,False,False,False
4,36.7,19.3,193.0,3450.0,True,False,False,False,False,True,False,True,False